// Custom
@import './_mixins.import.scss';
@import './_variables.import.scss';

// Ratchet
@import "./ratchet/ratchet.import.scss";
@import "./ratchet/_theme-ios.import.scss";

html,
body {
  min-height: 1000px;
}
body {
  position: relative !important; // Overrides the fixed positioning of body in Ratchet
  font: 400 14px/1.5 "Open Sans", sans-serif;
  color: #333;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased; // Fix for webkit rendering
}

@media screen and (max-width: 768px) {
  .device {
    position: static;
    width: auto;
    height: auto;
    background-image: none;

    .device-content {
      position: static;
      width: 100%;
      height: auto;
    }
  }

  footer {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .device {
    position: relative;
    top: 50px;
    left: 50%;
    display: block;
    width: 395px;
    height: 813px;
    margin-left: -198px;
    font-family: "Helvetica Neue", sans-serif;
    background-image: url("/images/device.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
    @include transition(background-image .1s linear);

    &.device-fixed {
      position: fixed;
      right: auto;
    }
  }
  .device .device-content {
    position: absolute;
    top: 121px;
    left: 35px;
    width: 324px;
    height: 577px;
    overflow: hidden;
    font-size: $font-size-default;
    line-height: $line-height-default;
    background-color: #fff;
  }
  .device .content,
  .device .bar,
  .device .modal {
    position: absolute;
  }
  .device .content {
    left: 0;
    right: 0;
    bottom: 0;
  }
  footer {
    text-align: center;
    position: absolute;
    top: 753px;
    left: 0;
    right: 0;
    padding: 16px 0;
  }
}

// App Styles
@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(.8, .8, .8);
            transform: scale3d(.8, .8, .8);
  }
  70% {
    -webkit-transform: scale3d(.8, .8, .8);
            transform: scale3d(.8, .8, .8);
  }
  100% {
    -webkit-transform: scale3d(800, 800, 800);
            transform: scale3d(800, 800, 800);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(.8, .8, .8);
            transform: scale3d(.8, .8, .8);
  }
  70% {
    -webkit-transform: scale3d(.8, .8, .8);
            transform: scale3d(.8, .8, .8);
  }
  100% {
    -webkit-transform: scale3d(800, 800, 800);
            transform: scale3d(800, 800, 800);
  }
}

.splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  background: #563D7C url("/images/splash.png") top left no-repeat;
  background-size: 100%;

  img {
    position: absolute;
    width: 106px;
    height: 106px;
    top: 50%;
    left: 50%;
    margin-top: -53px;
    margin-left: -53px;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }
}

.updated-text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

.new-message-textarea {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 70px;
  resize: none;
  background-color: #fff !important;
  height: 320px;
}

.card > p {
  padding: 10px;
}

.message-show-card .table-view-cell {
  padding-right: 15px;
}
