<head>
  <title>Meteor Mailbox</title>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png?v=1">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png?v=1">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png?v=1">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png?v=1">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png?v=1">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png?v=1">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png?v=1">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png?v=1">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png?v=1">
  <link rel="icon" type="image/png" href="/favicon-192x192.png?v=1" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-160x160.png?v=1" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png?v=1" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v=1" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png?v=1" sizes="32x32">
  <meta name="msapplication-TileColor" content="#563d7c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png?v=1">

  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<body>
    <div class="device-content">
      {{> Router}}
    </div>

  <footer>
  </footer>
</body>
